
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top:0;
 }


.line{
    width: 100%;
    height: 20px;
    background-color: #deb3ad;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}


h2.a{
    color: #deb3ad;
    margin: 0px;
    padding-left: 20px;
    font-family: 'Cinzel', serif;
}

body.a{
    background-color: whitesmoke;
    font-family: 'Lora', serif;
}

.custom{
    float: right;
    width: 250px;
    height: 200px;
}

.container1{
    margin: 0px;
    padding: 20px;
    margin-top: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #dbd2c2;
}

.card{
    width: 18rem;
    height: 23rem;
    margin: 30px;
    background-color: #dbd2c2;
}

a.modified{
    color: #3d5b5c;
}